

<div class="form-group">
	<button class="btn btn-default" id="next" type="submit" style="margin-top:20px;">
		NEXT<i class="fa fa-angle-right" aria-hidden="true" style="margin-left:5px;"></i> 
	</button>
</div>