<head>
	<style>
		/* navigation bar */
		.navbar{
			height:50px;
			background-color:rgba(0, 0, 0, 0.8);
			border:none;
			border-radius:0px;
		}
	</style>
</head>

<body>
	<div class="navbar navbar-default" role="navigation">
		<img src="img/intuit-logo-blue.png" height="50" width="120">
	</div>
</body>