<head>
	<title> Receipt Upload </title>
	
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!-- Emoji support -->

</head>

<body>
	<!-- Navigation bar (Intuit logo) -->
	{{>navbar}}
	<!-- Form field wrapper -->
	<div class="container">
		<div class="jumbotron text-center" style="margin-top:15px; height:300px;">
			<!-- Steps of form -->
			<div class="ui four top steps">
				<div class="step" style="border-radius:0px;">
		    		<i class="fa fa-check"></i>
		    		<div class="content" >
		      			<div class="title">Personal & Tax Info</div>
		    		</div>
		  		</div>
		  		<div class="step">
					<i class="fa fa-check"></i>
		    		<div class="content">
			      		<div class="title">Bank Info</div>
			    	</div>
			  	</div>
			  	<div class="step">
			  		<i class="fa fa-check"></i>
			    	<div class="content">
			      		<div class="title">Expense Form</div>
			   		</div>
			 	</div>
			 	<div class="active step" style="border-radius:0px;">
			    	<i class="em em-mailbox_with_mail"></i>
			    	<div class="content" >
			      		<div class="title">Receipts & Submit</div>
			    	</div>
			  	</div>
			</div>
			<!-- Title -->
			<h1 style="font-size:30px; color:#0077C5;">Expense Receipts</h1>

			<form method="post" enctype="multipart/form-data" action="/form-3" data-parsley-validate>
				<!-- Upload image files -->
				<div class="form-group">
					<label for="file" class="control-label"> Upload receipts </label>
						<input type="file" multiple="multiple" name="file" required>
				</div>
				<!-- Send email -->
				<div class="form-group">
						<button class="btn btn-default" type="submit">
							SEND EMAIL <i class="em em-love_letter" style="margin-left:5px;"></i>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</button>
				</div>
			</form>
		</div>
	</div>
</body>
