<head>
	<title> Receipt Upload </title>
	
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!-- Emoji support -->

</head>

<body>
	<!-- Navigation bar (Intuit logo) -->
	{{>navbar}}
	<!-- Form field wrapper -->
	<div class="container">
		<div class="jumbotron text-center">
			<!-- Title -->
			<h1 style="font-size:30px; color:#0077C5;">Expense Receipts</h1>

			<form method="post" enctype="multipart/form-data" action="/form-3" data-parsley-validate>
				<!-- Upload image files -->
				<div class="form-group">
					<label for="file" class="control-label"> Upload receipts </label>
						<input type="file" multiple="multiple" name="file" required>
				</div>
				<!-- Send email -->
				<div class="form-group">
						<button class="btn btn-default" type="submit">
							SEND EMAIL <i class="em em-love_letter" style="margin-left:5px;"></i>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</button>
				</div>
			</form>
		</div>
	</div>
</body>
