<head>
	<title> Expense Form </title>

	<style>

		/* receipt form wrapper */
		div.wrapper{
			margin-bottom:100px;
		}

		/* form layout */

		.col-md-4 h1{
			font-size:20px;
			color:#FF9331;
			float:left;
		}

		h1.meta-label{
			font-size:15px;
			text-align:left;
			margin-left:15px;
		}
		
	</style>

</head>

<body>
	<!-- Navigation bar (Intuit logo) -->
	<div class="navbar navbar-default" role="navigation">
		<img src="img/intuit-logo-blue.png" height="50" width="120">
	</div>

	<div class="container">
		<div class="jumbotron text-center">

			<form method="post" action="/form-4">
				<!-- **************************** RECEIPT 1 **********************************-->
				<div class="wrapper">
					<!-- Title -->
					<h1 style="font-size:30px; color:#0077C5; margin-bottom:30px;">Expenses</h1>
						<div class="col-md-4">
							<h1> Receipt 1</h1>
						</div>
						<!-- Dates -->
						<div class="col-md-6 col-md-offset-2">
							<div class="form-group">
								<label for="exp_date" class="control-label"> Date(s) </label>
								<input type="text" name="exp_date" placeholder="DD/MM/YYYY">
							</div>
						</div>
						<!-- Location / explanation -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_location" class="control-label"> Location and explanation of expenditures</label>
								<input type="text" name="exp_location">
							</div>
						</div>
						<!-- Airfare -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_airfare" class="control-label"> Airfare </label>
								<input type="text" name="exp_airfare">
							</div>
						</div>
						<!-- Lodging -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_lodging" class="control-label"> Lodging (including tax) </label>
								<input type="text" name="exp_lodging">
							</div>
						</div>
						<!-- Meals -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_meals" class="control-label"> Meals </label>
								<input type="text" name="exp_meals">
							</div>
						</div>
						<!-- Personal Automobile-->
						<h1 class="meta-label"> Personal Automobile </h1>
						<!-- ... # miles -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_miles" class="control-label" style="float:left;"> # of miles </label>
								<input type="text" name="exp_auto_miles">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_amount" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_auto_amount" placeholder="$0.00">
							</div>
						</div>
						<!-- Miscellaneous -->
						<h1 class="meta-label"> Miscellaneous </h1>
						<!-- ... Code -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_code" class="control-label" style="float:left;"> Code </label>
								<input type="text" name="exp_misc_code">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_amount" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_misc_amount" placeholder="$0.00">
							</div>
						</div>
					</div>
					<hr>
					<!-- **************************** RECEIPT 2 **********************************-->
					<div class="wrapper">
						<div class="col-md-4">
							<h1> Receipt 2</h1>
						</div>
						<!-- Dates -->
						<div class="col-md-6 col-md-offset-2">
							<div class="form-group">
								<label for="exp_date_2" class="control-label"> Date(s) </label>
								<input type="text" name="exp_date_2" placeholder="DD/MM/YYYY">
							</div>
						</div>
						<!-- Location / explanation -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_location_2" class="control-label"> Location and explanation of expenditures</label>
								<input type="text" name="exp_location_2">
							</div>
						</div>
						<!-- Airfare -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_airfare_2" class="control-label"> Airfare </label>
								<input type="text" name="exp_airfare_2">
							</div>
						</div>
						<!-- Lodging -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_lodging_2" class="control-label"> Lodging (including tax) </label>
								<input type="text" name="exp_lodging_2">
							</div>
						</div>
						<!-- Meals -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_meals_2" class="control-label"> Meals </label>
								<input type="text" name="exp_meals_2">
							</div>
						</div>
						<!-- Personal Automobile-->
						<h1 class="meta-label"> Personal Automobile </h1>
						<!-- ... # miles -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_miles_2" class="control-label" style="float:left;"> # of miles </label>
								<input type="text" name="exp_auto_miles_2">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_amount_2" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_auto_amount_2" placeholder="$0.00">
							</div>
						</div>
						<!-- Miscellaneous -->
						<h1 class="meta-label"> Miscellaneous </h1>
						<!-- ... Code -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_code_2" class="control-label" style="float:left;"> Code </label>
								<input type="text" name="exp_misc_code_2">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_amount_2" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_misc_amount_2" placeholder="$0.00">
							</div>
						</div>
					</div>
					<hr>

					<!-- **************************** RECEIPT 3 **********************************-->
					<div class="wrapper">
						<div class="col-md-4">
							<h1> Receipt 3 </h1>
						</div>
						<!-- Dates -->
						<div class="col-md-6 col-md-offset-2">
							<div class="form-group">
								<label for="exp_date_3" class="control-label"> Date(s) </label>
								<input type="text" name="exp_date_3" placeholder="DD/MM/YYYY">
							</div>
						</div>
						<!-- Location / explanation -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_location_3" class="control-label"> Location and explanation of expenditures</label>
								<input type="text" name="exp_location_3">
							</div>
						</div>
						<!-- Airfare -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_airfare_3" class="control-label"> Airfare </label>
								<input type="text" name="exp_airfare_3">
							</div>
						</div>
						<!-- Lodging -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_lodging_3" class="control-label"> Lodging (including tax) </label>
								<input type="text" name="exp_lodging_3">
							</div>
						</div>
						<!-- Meals -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_meals_3" class="control-label"> Meals </label>
								<input type="text" name="exp_meals_3">
							</div>
						</div>
						<!-- Personal Automobile-->
						<h1 class="meta-label"> Personal Automobile </h1>
						<!-- ... # miles -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_miles_3" class="control-label" style="float:left;"> # of miles </label>
								<input type="text" name="exp_auto_miles_3">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_amount_3" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_auto_amount_3" placeholder="$0.00">
							</div>
						</div>
						<!-- Miscellaneous -->
						<h1 class="meta-label"> Miscellaneous </h1>
						<!-- ... Code -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_code_3" class="control-label" style="float:left;"> Code </label>
								<input type="text" name="exp_misc_code_3">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_amount_3" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_misc_amount_3" placeholder="$0.00">
							</div>
						</div>
					</div>
					<hr>
					<!-- **************************** RECEIPT 4 **********************************-->
					<div class="wrapper">
						<div class="col-md-4">
							<h1> Receipt 4 </h1>
						</div>
						<!-- Dates -->
						<div class="col-md-6 col-md-offset-2">
							<div class="form-group">
								<label for="exp_date_4" class="control-label"> Date(s) </label>
								<input type="text" name="exp_date_4" placeholder="DD/MM/YYYY">
							</div>
						</div>
						<!-- Location / explanation -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_location_4" class="control-label"> Location and explanation of expenditures</label>
								<input type="text" name="exp_location_4">
							</div>
						</div>
						<!-- Airfare -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_airfare_4" class="control-label"> Airfare </label>
								<input type="text" name="exp_airfare_4">
							</div>
						</div>
						<!-- Lodging -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_lodging_4" class="control-label"> Lodging (including tax) </label>
								<input type="text" name="exp_lodging_4">
							</div>
						</div>
						<!-- Meals -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_meals_4" class="control-label"> Meals </label>
								<input type="text" name="exp_meals_4">
							</div>
						</div>
						<!-- Personal Automobile-->
						<h1 class="meta-label"> Personal Automobile </h1>
						<!-- ... # miles -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_miles_4" class="control-label" style="float:left;"> # of miles </label>
								<input type="text" name="exp_auto_miles_4">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_auto_amount_4" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_auto_amount_4" placeholder="$0.00">
							</div>
						</div>
						<!-- Miscellaneous -->
						<h1 class="meta-label"> Miscellaneous </h1>
						<!-- ... Code -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_code_4" class="control-label" style="float:left;"> Code </label>
								<input type="text" name="exp_misc_code_4">
							</div>
						</div>
						<!-- ... amount -->
						<div class="col-md-6">
							<div class="form-group">
								<label for="exp_misc_amount_4" class="control-label" style="float:left;"> Amount </label>
								<input type="text" name="exp_misc_amount_4" placeholder="$0.00">
							</div>
						</div>
					</div>



					<!-- NEXT / Submit -->
					<div class="form-group">
						<button class="btn btn-default" type="submit">
							NEXT <i class="fa fa-angle-right" aria-hidden="true" style="margin-left:5px;"></i>
						</button>
					</div>

			</form>

		</div>
	</div>

</body>