<head>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/bootstrap/css/social/bootstrap-social.css">
	<link rel="stylesheet" href="/vendor/font-awesome-4.6.3/css/font-awesome.min.css">

	<style>
	*{
		font-family:'Avenir';
	}

	body{
		background:
			linear-gradient(rgba(0, 0, 0, 0.5),
							rgba(0, 0, 0, 0.8)),
			url('img/intuit-campus.jpg');
		background-size: cover;
        background-attachment: fixed;
	}

	.jumbotron{
		background-color: transparent;
		color:white;
		margin-top:10%;
	}

	.jumbotron h1{
		margin-bottom:30px;
	}

	.jumbotron.text-center a{
		text-decoration: none;
		color:white;

	}

	span.enter-site{
		background-color:#FF8000;
		padding:12 12 12 12;
		border-radius:6px;
	}

	span.enter-site:hover{
		background-color:#cc6600;
		transition:.3s;
	}

	</style>



</head>

<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Intuit Reimbursement Form</h1>
			<a href="/"><span class="enter-site">Enter</span></a>
		</div>
	</div>

</body>