<head>
	<link rel="stylesheet" href="vendor/semantic/semantic.min.css">
	<script type="text/javascript" src="vendor/semantic/semeantic.min.js"></script>
</head>

<body>
	<div class="ui animated button" tabindex="0">
  <div class="visible content">Next</div>
  <div class="hidden content">
    <i class="right arrow icon"></i>
  </div>
</div>
</body>