<head>
	<style>
		*{
			font-family:'Avenir';
			
		}

		body{
			background-image: url(img/rectangle.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			text-align:center;
		}

		.jumbotron{
			width:700px;
			background-color:white;
			padding:50 20 20 50;
		}


		input{
			width:400px;
		}
	
	</style>
</head>

<body>
	<div class="container">
		<div class="jumbotron text-center" style="margin:0 auto;">
			<form method="post" action="#">
				<label for="firstName"> First Name </label>
				<br>
				<input type="text" class="form-control" name="firstName">
			</form>
		</div>
	</div>
</body>