<head>
	<title> Submit </title>

</head>

<body>
	<!-- Navigation bar (Intuit logo) -->
	<div class="navbar navbar-default" role="navigation">
		<img src="img/intuit-logo-blue.png" height="50" width="120">
	</div>

	<div class="container">
		<div class="jumbotron text-center">
			<!-- Steps of form -->
			<div class="ui four top steps">
				<div class="step" style="border-radius:0px;">
		    		<i class="fa fa-check"></i>
		    		<div class="content" >
		      			<div class="title">Personal & Tax Info</div>
		    		</div>
		  		</div>
		  		<div class="step">
					<i class="fa fa-check"></i>
		    		<div class="content">
			      		<div class="title">Bank Info</div>
			    	</div>
			  	</div>
			  	<div class=" step">
			  		<i class="fa fa-check"></i>
			    	<div class="content">
			      		<div class="title">Expense Form</div>
			   		</div>
			 	</div>
			 	<div class="step" style="border-radius:0px;">
			    	<i class="fa fa-check"></i>
			    	<div class="content" >
			      		<div class="title">Receipts & Send</div>
			    	</div>
			  	</div>
			</div>
			<h1 style="font-size:30px; color:#0077C5;"> Thanks! </h1>
			<p style="font-size:15px;">Your reimbursement form will be sent to Odyssey, and you will receive an email copy.</p>
			<br>
			<a href="/" class="btn btn-default"> 
				BACK TO HOME <i class="em em-money_with_wings" style="margin-left:5px;"></i><i class="em em-moneybag"></i>
				<i class="em em-thumbsup"></i> 
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</a>
	 	</div>
	</div>
</body>