<head>
	<title> Test mail </title>
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/bootstrap/css/social/bootstrap-social.css">
</head>

<body>


	<form method="post" action="/test-mail" class="form-horizontal">
		<div class="form-group">
			<button class="btn btn-default btn-info" type="submit">Send in email</button>
		</div>
</body>
